version: "3.8"

services:
  web:
    image: nginx
    ports:
      - "8087:80"
    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: 256M
        reservations:
          memory: 100M

  stress:
    image: alexeiled/stress-ng
    command: --vm 1 --vm-bytes 300M --cpu 1
    deploy:
      resources:
        limits:
          cpus: "0.5"
          memory: 256M
